* {
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    margin-top: 100px;
    border-radius: 20px;
    border: 2px solid red;
    padding: 50px;
}